<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>bookmarklove</title>
  <link href="http://fonts.googleapis.com/css?family=Cabin+Sketch:700&v2" rel="stylesheet">
  {% if IS_DEV %}
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  {% else %}
  <link rel="stylesheet" href="/static/stylesheets/style.min.css">
  {% end %}
</head>
<body class="{% block bodyclass %}{% end %}">
  {% block container %}
  <div id="container" class="container_12">
    <div id="header">
      <div class="grid_6">
        <h1 class="logo">bookmarklove</h1>
      </div>
      <div id="user-nav" class="grid_6">
        {% if current_user %}
          <span>{{ current_account.nickname }}</span>
          <a href="{{ escape(users.create_logout_url(request.uri)) }}">{{ _("Sign out") }}</a>
        {% end %}
      </div>
    </div>

    <div id="main" class="grid_8">
      {% block content %}{% end %}
    </div>

    <div id="sidebar" class="grid_4">
      {% block sidebar %}{% end %}
    </div>

    <br class="clear">

    <div id="footer">
      bookmarklove.me
    </div>
  </div>
  {% end %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="/static/javascripts/jquery.tokeninput.js"></script>
  <script>
  function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
  }

  jQuery.ajaxSetup({
    data: {'_xsrf': getCookie('_xsrf')}
  });

  // Bookmark actions
  $('ul#bookmarks').delegate('a[data-action]', 'click', function(e){
    e.preventDefault();
    var $bookmark = $(this).closest('.bookmark'),
        bookmark_id = $bookmark.attr('id').split('_')[1],
        action = $(this).data('action');

    $.post('/update', {id: bookmark_id, action: action}, function(data) {
      $bookmark.replaceWith(data);
    });
  }).delegate('a.edit', 'click', function(e) {
    e.preventDefault();
    $(this).closest('.bookmark').find('div.edit-form').toggle();
  }).delegate('a.close', 'click', function(e) {
    e.preventDefault();
    $(this).closest('.bookmark').find('div.edit-form').hide().find('form')[0].reset();
  }).delegate('form', 'submit', function(e){
    e.preventDefault();
    var $self = $(this);
    $.post($self.attr('action'), $self.serialize(), function(data){
      $self.closest('.bookmark').replaceWith(data);
    });
  }).delegate('li', 'mouseover', function() {
    $(this).find('.tools').show();
  }).delegate('li', 'mouseout', function() {
    $(this).find('.tools').hide();
  });
  </script>
  {% block scripts %}{% end %}
</body>
</html>
