{% extends "base.html" %}

{% block container %}
<form action="" method="post">
  {% module Form(form) %}
  <div class="buttons">
    <input type="submit" class="button primary" value="Save">
    <a class="button" id="cancel" href="">Cancel</a>
  </div>
</form>
{% end %}

{% block bodyclass %}popup{% end %}

{% block scripts %}
<script>
  $('#tags').tokenInput('/autocomplete', {
    allowCustomEntry: true,
    method: 'POST',
    onResult: function(data) {
      return $.map(data.records, function(record) {
        return {id: record, name: record};
      });
    },
    theme: 'facebook'
  });
  $('#cancel').click(function(e) {
    e.preventDefault();
    window.close();
  });
</script>
{% end %}
