{% extends "base.html" %}

{% block container %}
<div id="index" class="container_12">
	<div id="main" role="main" class="grid_12">
    <h1 class="logo">bookmarklove<span style="color:#FF2825">❡</span></h1>
    <h2>Bookmarking tool, so you can find your bookmarks later</h2>
	</div>

	<div class="grid_6">
	  <h3>Features</h3>
	  <ul>
	    <li>It is fast and easy</li>
	    <li>Migrate your bookmarks from other sites and your browsers easily</li>
	    <li>Full text search in your bookmarks</li>
	    <li>Organize your bookmarks with tags</li>
	    <li>Save your links so you can access it even the site is gone</li>
	    <li>Your data is yours, you can leave <span class="bl">bookmarklove</span> any time you want
	    with your data.</li>
	  </ul>
	</div>
	<div class="grid_6">
	  <h3>Start</h3>
	  <p>
	    <a href="{{ users.create_login_url('/home') }}" class="auth goog">
	      <span>Login with your Google account</span>
	    </a>
	  </p>
	</div>
</div>
{% end %}
